@model IEnumerable<K22CNT4_DinhCongDinh_2210900095.Models.ShoppingCart>

<h2>Giỏ hàng của bạn</h2>
<table class="table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Products.ProductName</td>
                <td>
                    <img src="@item.Products.MainImageUrl" alt="@item.Products.ProductName" style="width: 100px;" />
                </td>
                <td>@item.Quantity</td>
                <td>@String.Format("{0:C}", item.Products.Price)</td>
                <td>@String.Format("{0:C}", item.Quantity * item.Products.Price)</td>
                <td>
                    <a href="@Url.Action("RemoveFromCart", "ShoppingCart", new { cartId = item.CartID })" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Home")" class="btn btn-success">Tiếp tục mua sắm</a>
<a href="@Url.Action("Index", "Checkout")" class="btn btn-success">Thanh toán</a>
