
@model Dinhkeyshop.Models.Users

@{
    ViewBag.Title = "Create User";
}

<h2>Create New User</h2>

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PasswordHash)
        @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Role)
        @Html.DropDownListFor(model => model.Role, new SelectList(new[] { "Admin", "User" }), "Select Role", new { @class = "form-control" })
    </div>

    <input type="submit" value="Create User" class="btn btn-success" />
}
